<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="product">

	<!-- 일반 목록 -->
	<select id="select01" resultType="ProductDto">
		select * from product
	</select>
	
	<!-- 이름 검색 -->
	<select id="select02" resultType="ProductDto" parameterType="string">
		select * from product where name=#{name}
	</select>
	
	<!-- select01, select02 통합 -->
	<select id="select03" resultType="ProductDto" parameterType="string">
		select * from product
		<if test="name!=null">
			where name=#{name}
		</if>
	</select>
	
	<!-- 올인원 검색 구문 -->
	<select id="allInOneSearch" resultType="ProductDto" parameterType="ProductSearchVO">
		select * from product
		<!-- where라는 구문을 만들면 내부 상황에 따라 where 키워드를 설정 -->
		<where>
			<!-- 번호 일치 검색 -->
			<if test="no != null">
				and no = #{no}
			</if>
			<!-- 이름 유사 검색 : 문자열은 null 뿐 아니라 빈 문자열도 검사해야 한다 -->
			<if test="name != null and name != ''">
				<![CDATA[
				and instr(name, #{name}) > 0
				]]>
			</if>
			<!-- 분류 일치 검색 : 문자열은 null 뿐 아니라 빈 문자열도 검사해야 한다 -->
			<if test="type != null and type != ''">
				and type = #{type}
			</if>
			<!-- 가격 구간 검색 -->
			<choose>
				<when test="minPrice != null and maxPrice != null">
					and price between #{minPrice} and #{maxPrice}
				</when>
				<when test="minPrice != null">
					<![CDATA[
					and price >= #{minPrice}
					]]>
				</when>
				<when test="maxPrice != null">
					<![CDATA[
					and price <= #{maxPrice}
					]]>
				</when>
			</choose>
			
		</where>
	</select>
</mapper>
















