<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="member">

	<insert id="regist" parameterType="MemberDto">
		insert into member values(
			member_seq.nextval,#{memberId}, #{memberPw},#{memberNick},#{memberBirth},
			#{memberPhone},sysdate,#{memberEmail},0,'일반'
		)
	</insert>
	
	<select id="selectAll" resultType="MemberDto">
		select * from member
	</select>
	
	<select id="select" resultType="MemberDto" parameterType="map">
		select * from member where ${type}=#{keyword}
	</select>
	
	<update id="changeInfo" parameterType="MemberDto">
		update member set member_nick=#{memberNick},member_birth=#{memberBirth}, 
						member_phone=#{memberPhone}, member_email=#{memberEmail}
						where member_no=#{memberNo} and member_pw=#{memberPw}
	</update>
	
	<update id="changePw" parameterType="MemberDto">
		update member set member_pw=#{memberPw}
							where member_no=#{memberNo} and member_pw=#{memberPw}
	</update>
	
	<delete id="delete" parameterType="int">
		delete member where member_no=#{memberNo}
	</delete>
	


</mapper>